.calc-container{
    height:400px;
    width:100%;
    max-width:350px;
    background-color: #ECECEC;
    text-align: right;
}
.buttons{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

/* 

black #141518
white #F4F4F4

*/